                <div class="span2">
                    <h5> 消费记录管理</h5> 
                    <p>
                        <button class="btn" type="button">我的消费</button> 
                    </p>
                    <p>
                        <button class="btn" type="button">修改选定</button> 
                    </p>
                    <p>
                        <button class="btn" type="button">确定修改</button> 
                    </p>
                    <hr style="style:dotted;"/>
                    <h5>过滤条件:</h5>
                </div> 